lesson_2/.sqrt.py.swp
lesson_2/get_square_roots.py.save
lesson_2/__pycache__/get_range.cpython-38.pyc
lesson_2/__pycache__/get_square_roots.cpython-38.pyc
lesson_2/__pycache__/sqrt.cpython-38.pyc
lesson_3/__pycache__/find_index.cpython-38.pyc
